.root {
    -fx-font-size: 14px;
    -fx-font-family: "Space Age";
    -fx-background-color: #ff1493;
}

.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: #fe9ace;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}


.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

.sidebar-section Label {
    -fx-font-size: 18px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

.content-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;

}

.content-section Label {
    -fx-font-size: 18px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

.button {
    -fx-background-color: #ff9acf;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}
.button:hover {
    -fx-background-color: #ff9acf;
    -fx-effect: none;
}

.button:pressed {
    -fx-background-color: #ff9acf;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 30, 0.0 , 0 , 0 );
}


#content-header {
    -fx-font-size: 16px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-border-color: #ee82ee ;
}

#buttonSwap {
    -fx-background-image: url("../images/buttonSwap.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#buttonSteal {
    -fx-background-image: url("../images/buttonSteal.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#buttonShift {
    -fx-background-image: url("../images/buttonShift.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#buttonDelete {
    -fx-background-image: url("../images/buttonDelete.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#buttonFreeze {
    -fx-background-image: url("../images/buttonFreeze.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#buttonRoll {
    -fx-background-color: transparent;
}

#buttonLeaveGame {
    -fx-background-image: url("../images/exit.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: black;
}

#buttonMute {
    -fx-background-image: url("../images/buttonMute.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-background-color: #ff9acf;
}

#buttonMute:selected {
    -fx-background-image: url("../images/buttonUnmute.png");
    -fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #ff9acf;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 20, 0.0 , 0 , 0 );
}

#labelLogo {
    -fx-background-image: url("../images/kniffeliger.png");
    -fx-background-size: 151 55;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: #7d0041;

}


#tab1{
    -fx-background-color: pink;
}



